body{
    background-color: azure;
}
ul{
    margin: 20px;
}
li{
    padding: 9px 0px 9px 5px;
    /* margin-left: 50px; */
    font-size: 1rem;
}
.content{
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: rgb(46, 108, 133);
    border-width: 1rem;
    background-color: rgb(252, 237, 218);
    padding: 20px 50px 20px 50px;
    width: 50%;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    
}
figcaption {
    text-align: center;
}
h1#heading{
    text-align: center;
    color: rgb(21, 121, 179);
    font-size: 3rem;
}
li.popular{
    border-style: dotted;
    border-color: rgb(255, 96, 104);
    border-width: 4px;
}
@media screen and (max-width: 670px){
    img{
        width: 150px;
    }
    h1#heading{
        font-size: 13px;
    }
    figcaption{
        font-size: 8px;
    }
    .detail{
        font-size: 10px;
    }
    .detail li{
        font-size: 10px;
    }
}
@media screen and (min-width: 670px) and (max-width: 1180px){
    img{
        width: 300px;
    }
    h1#heading{
        font-size: 1.5rem;
    }
    figcaption{
        font-size: 0.75rem;
    }
    .detail{
        font-size: 1rem;
    }
    .detail li{
        font-size: 1rem;
    }
}